.lista-libros {
    padding-top: 20px;
    margin-top: -8px;
    margin-left: 193px;
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif
}

.lista-libros h2 {
    text-align: center;
    font-size: 50px;
}

.libros {
    display: grid;
    margin-right: 4%;
    background-color: antiquewhite;
}

.libros ul {
    list-style-type: none;
}

.book {
    padding: 10px;
    background-color: aliceblue;
    border: 1px solid black; 
    margin-bottom: 5%;
}

.book a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.datos {
    display: flex;
    flex-direction: row;
}

.letras {
    padding: 130px;
}

.letras h3 {
    font-size: 45px;
}

.letras h4 {
    font-size: x-large;
    font-style: italic;
}

.book img {
    width: auto; 
    height: auto; 
    margin-bottom: 10px; 
}
