.book {
    padding-top: 20px;
    margin-top: -8px;
    margin-right:-8px;;
    margin-left: 193px;
    background-color: antiquewhite;
}

.detalles {
    display: flex;
    flex-direction: row;
}

.seg {
    padding-top: 180px; /* Espacio superior */
    margin-left: 20px; /* Margen izquierdo */
}

.seg span {
    text-decoration: underline; /* Subrayado */
    color: #800000; /* Color del texto */
    font-weight: bold; /* Negrita */
}

.seg h3 {
    font-size: 18px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
    margin-bottom: 10px; /* Margen inferior */
}


.prim h2 {
    padding-left: 21%;
    font-size: xx-large;
    font-style: italic;
}

.opciones {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    padding-top: 50px;
}

.opciones button {
    background-color: #4CAF50; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 12px; 
    transition-duration: 0.4s; 
}

.opciones button:hover {
    background-color: #45a049; 
    color: white; 
    border-radius: 12px; 
}


.noBook {
    margin-left: 193px;
    background-color: antiquewhite;
    margin-top: -20px;
    margin-right: -20px;
    padding-bottom: 100%;
    padding-top: 20%;
    text-align: center;
}