.user {
    padding-top: 50px;
    margin-top: -8px;
    margin-left: 200px;
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}

.detail {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
}

.seg {
    padding-top: 140px; 
    margin-left: 20px; 
}

.seg span {
    text-decoration: underline; 
    color: #800000; 
    font-weight: bold; 
}

.seg h3 {
    font-size: 25px; 
    color: #333; 
    margin-bottom: 10px; 
}


.prim h2 {
    padding-left: 21%;
    font-size: xx-large;
    font-style: italic;
}

.prim {
    margin-top: 100px;
    margin-left: 100px;
}

.prim img {
    width: 300px;
    height: 300px;
}

.options {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    padding-top: 50px;
}

.options button {
    background-color: #4CAF50; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 12px; 
    transition-duration: 0.4s; 
    margin-left: 40px;
    margin-right: 40px;
}

.options button:hover {
    background-color: #45a049; 
    color: white; 
    border-radius: 12px; 
}


.noUser {
    margin-left: 193px;
    background-color: antiquewhite;
    margin-top: -20px;
    margin-right: -20px;
    padding-bottom: 100%;
    padding-top: 20%;
    text-align: center;
}

.updateForm {
    margin-top: 50px;
    margin-left: 500px;
    padding-bottom: 60px;
}

.updateForm h2 {
    font-size: 18pt;
    margin-bottom: 15px;
  }
  
  label, input {
    display: block;
  }
  label {
    color: var(--secondary-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12pt;
  }
  input {
    font-size: 16pt;
    margin-bottom: 15px;
    padding: 10px;
    width: 400px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid .3px;
  }


.library-button {
    background-color: #4CAF50; 
    border: 1px solid #4CAF50; 
    color: white;
    padding: 12px 24px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block; 
    font-size: 16px; 
    font-weight: bold; 
    border-radius: 6px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .library-button:hover {
    background-color: #45a049;
  }

  .form-select {
    width: 400px;
    margin-bottom: 30px;
  }
  