.banner {
    text-align: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: brown;
}

.banner h1 {
    font-size: 60px;
}

.panel {
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
    padding-bottom: 83px;
    padding-top: 70px;
    padding-left: 50px;
}

#carouselExampleFade {
    border: 10px solid maroon;
    border-radius: 10px;
    height: 600px;
    width: 800px;
}

.carousel-item {
    height: 580px;
    width: 800px;
}


