<div class="book-list">
    <h2>Libros Existentes</h2>

    <div class="options">
        <div class="optionFormat">
            <label for="genreSelect">Filtrar por género</label>
            <select #searchGenre class="genreFilter" id="genreSelect">
                <option value="" selected>Todos los géneros</option>
                @for (genre of uniqueGenres; track $index) {
                    <option value="{{genre}}">{{genre}}</option>
                } 
            </select>
            <button class="search-button" (click)="searchByGenre(searchGenre.value)" >Buscar</button>
        </div>
        <div class="optionFormat">
            <label for="titleInput">Buscar por título</label>
            <input #searchTitle type="text" id="titleInput">
            <button class="search-button" (click)="searchByTitle(searchTitle.value)">Buscar</button>
        </div>
        <div class="optionFormat">
            <label for="authorInput">Buscar por autor</label>
            <input #searchAuthor type="text" id="authorInput">
            <button class="search-button" (click)="searchByAuthor(searchAuthor.value)">Buscar</button>
        </div>
        <div class="optionFormat">
            <label for="idInput">Buscar por id del libro</label>
            <input #searchId type="text" id="idInput">
            <button class="search-button" (click)="searchById(searchId.value)" >Buscar</button>
        </div>
        <div class="optionFormat">
            <button class="addNewBookButton" [routerLink]="['/admin-view/book-creation']">Añadir nuevo libro</button>
        </div>
    </div>

    <div class="books">
            @for (book of books; track $index) {
            <div class="book">
                    <div class="info">
                        <img src="{{book.pictureUrl}}" alt="Portada del libro">
                        <div class="letters">
                            <h4><b>Identificador:</b> {{book.id}}</h4>
                            <h4><b>Título:</b>  {{book.title}}</h4>
                            <h4><b>Género:</b>  {{book.genre}}</h4>
                            <h4><b>Autor:</b>  {{book.author}}</h4>
                            <div class="buttons">
                                <a [routerLink]="['/admin-view/book-modification/', book.id]">
                                    <button class="action-button">Modificar</button>
                                </a>
                                <button class="action-button delete" (click)="deleteBook(book.id)">Eliminar</button>
                            </div>
                        </div>
                    </div>
            </div>
            } @empty {
                <h2>No hay libros disponibles.</h2>
            }
    </div>
</div>