.book-list {
    padding-top: 20px;
    margin-top: -8px;
    margin-left: 193px;
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif
}

button {
    background-color: #4CAF50; 
    border: none; 
    color: white; 
    padding: 15px 441px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 20px 2px; 
    cursor: pointer; 
    border-radius: 12px; 
    transition-duration: 0.4s; 
    margin-left: 230px;
}

button:hover {
    background-color: #45a049; 
    color: white; 
    border-radius: 12px; 
}

.book-list h2 {
    text-align: center;
    font-size: 50px;
}

.books {
    display: grid;
    margin-right: 5%;
    background-color: antiquewhite;
}

.books ul {
    list-style-type: none;
}

.book {
    padding: 10px;
    padding-right: 195px;
    background-color: aliceblue;
    border: 1px solid black; 
    margin-bottom: 5%;
    margin-right: 200px;
    margin-left: 200px;
}

.book a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 200px;
    align-items: center;
}

.letters {
    padding: 70px;
    padding-top: 110px;
    padding-left: 100px;
}

.letters h3 {
    font-size: 45px;
}

.book img {
    width: auto; 
    height: auto; 
    margin-bottom: 10px; 
}

.buttons {
    display: flex;
    padding-top: 50px;
    margin-left: -25px;
    justify-content: center; 
}

.action-button {
    background-color: blue; 
    border: none; 
    color: white; 
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    font-weight: bold; 
    border-radius: 6px;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
    margin: 10px; 
}

.action-button.delete {
    background-color: red;
}

.action-button:hover {
    background-color: navy; 
}

.action-button.delete:hover {
    background-color: darkred; 
}